ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav-div{
    margin-left: 15px;
    display: inline-block;
}
.nav-hander{
    display: inline-block;
    float: right;
}
.li{
    float: left;
    padding: 15px;
    font-family: 华文楷体;
    font-size: 20px;
    font-weight: bold;
    color: silver;
}
.li:hover{
    border-bottom: 1px green solid;
    color: green;
    background: seashell;
}
.nav-li{
    font-family: 华文楷体;
    float: left;
    font-size: 20px;
    padding: 15px;
    color: green;
    border-bottom: 1px solid green;
    background: seashell;
}
img{
    width: 100%;
    height: 100%;
}