*{
	padding: 0;
	margin:0;
	list-style: none;
}
body{
	font-family: '微软雅黑';
}
a{
	text-decoration: none;
}
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1467089160'); /* IE9*/
  src: url('../font/iconfont.eot?t=1467089160#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1467089160') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1467089160') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1467089160#iconfont') format('svg'); /* iOS 4.1- */
}
/*header开始*/
.aboutWe_header{
	width:100%;
	height:auto;
}
.aboutWe_header img{
	width:100%;
}
/*header结束*/

/*bodyer开始*/
.aboutWe_bodyer{
	width: 100%;
}
.aboutWe_bodyer .aboutWe_bodyer_left{
	float:left;
	width:10%;
	height:90%;
	box-sizing: border-box;
	padding: 15px 20px;
	border-right: 2px solid #638ceb;
	margin-top:10px;
}
.aboutWe_bodyer .aboutWe_bodyer_right{
	float:left;
	width:90%;
	height:100%;
	padding: 3px 10px;
	box-sizing: border-box;
}
.aboutWe_bodyer .aboutWe_bodyer_left .left_btn{
	float: left;
	width: 100%;
	height:40px;
	text-align: center;
	line-height: 40px;
	color:#fe9433;
}
.aboutWe_bodyer .aboutWe_bodyer_left .company_profile{
	margin-top:20px; 
}
.aboutWe_bodyer .aboutWe_bodyer_left .left_btn:hover{
	background: #648CEB;
	color:#fff;
	border-radius: 5px;
}
.aboutWe_bodyer .aboutWe_bodyer_right .right_header .home{
	display: inline-block;
	color:#999;
	padding-left: 25px;
	margin-top: 15px;
}
.aboutWe_bodyer .aboutWe_bodyer_right .right_header img{
	padding: 0 10px;
	width:12px;
}
.aboutWe_bodyer .aboutWe_bodyer_right .right_header .aboutMe{
	color:#333;
	padding: 0;
}
.aboutWe_bodyer .aboutWe_bodyer_right .title_a{
	color:#648CEB;
	font-size: 16px;
	padding-left:20px;
	padding-top: 15px; 
	margin-bottom: 8px;
}
.aboutWe_bodyer .aboutWe_bodyer_right .title_b{
	color:#333;
	font-size: 16px;
	padding-left:20px;
	padding-top: 15px; 
	font-weight: 700;
	margin-bottom: 8px;
}
.aboutWe_bodyer .aboutWe_bodyer_right span{
	display: inline-block;
	padding-left: 20px;
	margin-top:7px;
}
.aboutWe_bodyer .aboutWe_bodyer_right .address{
	width: 100%;
}
.aboutWe_bodyer .aboutWe_bodyer_right .tel{
	width:100%;
}

/*bodyer结束*/
/*footer开始*/
.aboutWe_footer{
	width:100%;
	height:200px;
	background: #222;
}
.footer_content{
	width:60%;
	height:100%;
	margin:0 auto;
	position: relative;
}
.footer_content .logo{
	padding-top: 15px;
	height:40px;
	display: block;
}
.footer_content .contact_us{
	color:#fff;
}
.erweima{
	position: absolute;
	top:40px;
	left:200px;
}
.footer_content span{
	color:#999;
	font-size: 12px;
}
.space{
	margin-top: 7px;
}
.tel_img{
	width:20px;
	height:20px;
	float:left;
	position: relative;
}
.tel_img:before{
	position:absolute;
	top:4px;
	left:0;
	content:"\e645";
	font-family:"iconfont";
	font-size: 16px;
	color:#fff;
}
.message_img{
	width:20px;
	height:20px;
	float:left;
	position: relative;
}
.message_img:before{
	position:absolute;
	top:4px;
	left:0;
	content:"\e665";
	font-family:"iconfont";
	font-size: 16px;
	color:#fff;
}
.http_img{
	width:20px;
	height:20px;
	float:left;
	position: relative;
}
.http_img:before{
	position:absolute;
	top:4px;
	left:0;
	content:"\e7bb";
	font-family:"iconfont";
	font-size: 16px;
	color:#fff;
}

/*footer结束*/